@font-face {
    font-family: Epilogue;
    font-weight: 100;
    font-style: normal;
    src: url(../assets/fonts/Epilogue/Epilogue-Thin.ttf);
}

@font-face {
    font-family: Epilogue;
    font-weight: 200;
    font-style: normal;
    src: url(../assets/fonts/Epilogue/Epilogue-ExtraLight.ttf);
}

@font-face {
    font-family: Epilogue;
    font-weight: 300;
    font-style: normal;
    src: url(../assets/fonts/Epilogue/Epilogue-Light.ttf);
}
  
@font-face {
    font-family: Epilogue;
    font-weight: 400;
    font-style: normal;
    src: url(../assets/fonts/Epilogue/Epilogue-Regular.ttf);
}

@font-face {
    font-family: Epilogue;
    font-weight: 500;
    font-style: normal;
    src: url(../assets/fonts/Epilogue/Epilogue-Medium.ttf);
}

@font-face {
    font-family: Epilogue;
    font-weight: 600;
    font-style: normal;
    src: url(../assets/fonts/Epilogue/Epilogue-SemiBold.ttf);
}

@font-face {
    font-family: Epilogue;
    font-weight: 700;
    font-style: normal;
    src: url(../assets/fonts/Epilogue/Epilogue-Bold.ttf);
}

@font-face {
    font-family: Epilogue;
    font-weight: 800;
    font-style: normal;
    src: url(../assets/fonts/Epilogue/Epilogue-ExtraBold.ttf);
}