@import './fonts.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, button, input, select{
    font-family: Epilogue;
} 

html{
    scroll-behavior: smooth;
}

li{
    list-style: none;
}